@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-height: 100vh;
}
body > *{
  flex-grow: 0;
}
body > nav + .container {
  flex-grow: 1;
}

.container{
    background-color: rgb(1, 195, 202);
    display: flex;
    flex-direction: column;
    align-items:stretch;
    height: 100vh;
    width: 100vw;
  }

.header {
  display: flex;
  gap:5px;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgb(1, 55, 99);
  border: 2px;
}

.btn {
  display: inline-block;
  border: 2px solid goldenrod;
  border-radius: 2px;
  min-width: 100px;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
  color: white;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}


.content {
  grid-area: content;
  background: rgb(1, 195, 202);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search {
  height: 100px;
  width: 500px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}

.footer {
  display: flex;
  gap:5px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color: white;
  background-color: rgb(1, 55, 99);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cards {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  font-size:10px;
  height: 200px;
  perspective: 100px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px rgb(0, 0, 0) solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}


.card li {
  display:flex;
  justify-content:center;
  align-items: center;
  padding-bottom: 5px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}